<h1><%=@station.name%></h1>
<p><%=@station.address%></p>
<div>
    Tracks at this station: 
    <%@station.tracks.each do |track|%>
        <%=track.name%>
    <%end%>
</div>
<ul>
    <%@station.posts.each do |post|%>
        <li>
            <h3><%=link_to post.title, station_post_path(@station,post)%></h3>
            <p><%=post.description%></p>
            <p><%=post.relative_time%> by: <%=post.user.username%></p>
        </li>
    <%end%>
</ul>

<%if @station.ghosttown?%>
    <h3>No recent activity yet for today</h3>
<%else%>
    <ul>
        <h3>Recent activity here at <%=@station.name%> :</h3>
        <%@station.users_here_within_24hrs.each do |u|%>
            <li><%=u.username%></li>
        <%end%>
    </ul>
<%end%>

<%=link_to "Make A Post",new_station_post_path(@station)%>