<h1><%=@station.name%></h1>
<p><%=@station.address%></p>
<div>
    Tracks at this station: 
    <%@station.tracks.each do |track|%>
        <%=track.name%>
    <%end%>
</div>
<ul>
    <%@station.posts.each do |post|%>
        <li>
            <h3><%=post.title%></h3>
            <p><%=post.description%></p>
            <p>Created at: <%=post.created_at%></p>
        </li>
    <%end%>
</ul>

<%if @station.ghosttown?%>
    <p>"No recent activity yet for today"</p>
<%else%>
    <ul>
        <p>Recent activity here at <%=@station.name%> :</p>
        <%@station.users_here_within_24hrs.each do |u|%>
            <li><%=u.username%></li>
        <%end%>
    </ul>
<%end%>