<h1><%=@station.name%></h1>
<p><%=@station.address%></p>
<div>
    Tracks at this station: 
    <%@station.tracks.each do |track|%>
        <%=link_to image_tag(track.pic, size: "40x40", alt: "#{track.name}'s logo"), track_path(track)%>
    <%end%>
</div>
<%=render 'posts/index'%>

<%if @station.ghosttown?%>
    <h4>No recent activity yet for today</h4>
<%else%>
    <ul>
        <h4>Recent activity here at <%=@station.name%> :</h4>
        <%@station.users_here_within_1hr.each do |u|%>
            <li><%=u.username%></li>
        <%end%>
    </ul>
<%end%>

<%=link_to "Make A Post",new_station_post_path(@station)%>